/* 추가한 CSS */
.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px; /* 아이콘의 너비 */
    height: auto; /* 아이콘의 높이를 너비에 맞춤 */
    z-index: 9999; /* 다른 요소 위로 올리기 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
    transition: transform 0.3s ease; /* 변형 효과 추가 */
}

.chatbot-icon:hover {
    transform: scale(1.1); /* 호버 시 크기 조정 */
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0 0 0;
    text-align: center;
    margin-bottom:0;
    bottom: 0; /* 페이지 하단에서 시작 */
    left: 0; /* 좌측 정렬 */
    width: 100%; /* 전체 너비 */
    z-index: 10; /* 다른 요소들 위에 표시 */
}

@media screen and (max-width: 768px) {
    .teacher-card {
        width: calc(50% - 1rem);
    }
}

@media screen and (max-width: 480px) {
    .teacher-card {
        width: 100%;
    }
}